<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">


<!-- Sidebar -->
<div th:fragment="sidebar(usuarios, productos,  pqrs, email)"
    class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom col-center">
        <img class="logo" src="/images/logo_nobg.png" alt="" srcset=""><span class="movimiento">Movimiento
            Altruista</span>
    </div>
    <div class="list-group list-group-flush my-3">

        <a href="/secretario/usuarios"
            th:class="|list-group-item list-group-item-action bg-transparent second-text ${usuarios}|">
            <ion-icon class="me-2 icon" name="person"></ion-icon>Usuarios</a>

        <a href="/secretario/productos"
            th:class="|list-group-item list-group-item-action bg-transparent second-text ${productos}|">
            <ion-icon class="me-2 icon" name="cart"></ion-icon>Productos</a>

        <a href="/secretario/pqrs" th:class="|list-group-item list-group-item-action bg-transparent second-text ${pqrs}|">
            <ion-icon class="me-2 icon" name="help-circle"></ion-icon>PQRS</a>

        <a href="/secretario/email" th:class="|list-group-item list-group-item-action bg-transparent second-text ${email}|">
            <ion-icon class="me-2 icon" name="mail"></ion-icon>Email</a>

        <a href="#" onclick="logout()"
            class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
            <i class="fas fa-power-off me-2 "></i>Logout</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->


</html>