<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/plantilla_admin :: head(Secretario + ' - ' + Usuarios)}">

</head>

<body>
    <div class="d-flex" id="wrapper">


        <div th:replace="~{layout/plantilla_secretario :: sidebar(active, fw-bold, fw-bold, fw-bold)}">
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav th:replace="~{layout/plantilla_admin :: navbar(Usuarios)}"></nav>

            <div class="container-fluid px-4">

                <div th:replace="~{layout/plantilla_admin :: cards}"></div>

                <div class="row my-3 text-14">
                    <h3 class="fs-4 mb-1">Usuarios <a class="agregar-usuario" href="/secretario/agregar-usuario">
                            <ion-icon name="add"></ion-icon>
                        </a>
                    </h3>
                    <div class="col">
                        <div class="card shadow p-3 mb-2 bg-body-tertiary rounded">
                            <div class="mt-3 ms-3 me-3 mb-3">
                                <table id="example" class="table bg-white rounded shadow-sm  table-hover tabla">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="50">#</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Customer</th>
                                            <th scope="col">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Television</td>
                                            <td>Jonny</td>
                                            <td>$1200</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Laptop</td>
                                            <td>Kenny</td>
                                            <td>$750</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Cell Phone</td>
                                            <td>Jenny</td>
                                            <td>$600</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Fridge</td>
                                            <td>Killy</td>
                                            <td>$300</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Books</td>
                                            <td>Filly</td>
                                            <td>$120</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Gold</td>
                                            <td>Bumbo</td>
                                            <td>$1800</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Pen</td>
                                            <td>Bilbo</td>
                                            <td>$75</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Notebook</td>
                                            <td>Frodo</td>
                                            <td>$36</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">9</th>
                                            <td>Dress</td>
                                            <td>Kimo</td>
                                            <td>$255</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10</th>
                                            <td>Paint</td>
                                            <td>Zico</td>
                                            <td>$434</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11</th>
                                            <td>Carpet</td>
                                            <td>Jeco</td>
                                            <td>$1236</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="../js/datatable.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>

</body>

</html>