<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">


    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poetsen+One&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="/css/style-fonts.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Error 404</title>
</head>

<body>
    <div class="site-container">
        <div class="col-center">
            <img class="error-img" src="/images/error 404.png" alt="img">
        </div>

        <h1 class="poetsen-one-regular col-center">Error 404</h1>
        <h2 class="kanit-light col-center">Página no encontrada.</h2>

    </div>

</body>

</html>