<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/plantilla :: head(Nosotros, '')}"></head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{layout/plantilla :: header('', '', active,'','')}"></header>

    <div class="container py-5 mt-5 alto">
        <h1>Página nosotros</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab velit magnam nam doloremque inventore expedita
            aliquid at, temporibus ratione laborum commodi beatae rerum, recusandae dolor necessitatibus cum vitae odio
            molestias.</p>
    </div>
</body>
<footer th:replace="~{layout/plantilla :: footer}"></footer>

</html>